button {
  border: 0px;
  background-color: white;
}
#pomodoro-clock {
  display: grid;
  grid-template-areas: "heading heading"
                        "break sesion"
                        "timer timer"
                        "play reset";
}
.heading {
  grid-area: heading;
}
#break {
  grid-area: break;
}
#sesion {
  grid-area: sesion;
}
.timer {
  grid-area: timer;
}
#start_stop {
  grid-area: play;
}
#reset {
  grid-area: reset;
}